<!DOCTYPE html>
<html lang="en">
<head>
	<title>Semantic Domains Visualizer</title>
	<meta charset="UTF-8">
	<meta name="description" content="CV Resume">
	<meta name="keywords" content="resume, drymon, nlp, job, linguist">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('semdoms_bp.static', filename='style.css') }}">
</head>
<body>
    <div class="grid-container">
        SemDom Visualizer! <br>
    </div>
</body>
</html>