<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chris Drymon</title>
	<meta charset="UTF-8">
	<meta name="description" content="CV Resume">
	<meta name="keywords" content="resume, drymon, nlp, job, linguist">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('home_bp.static', filename='stylesheet.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('home_bp.static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('home_bp.static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('home_bp.static', filename='favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('home_bp.static', filename='site.webmanifest') }}">
</head>
<body>
    <div class="column column-left">
        <div class="mobile-one">
            <div class='image-container'>
                <img src="{{ url_for('home_bp.static', filename='XRS_7899.jpg') }}" alt="Chris">
            </div>
            <div class='grid-name-container'>
                <h1 class="name">Chris<br>Drymon</h1>
                <div class="grid-icon-container">
                    <div class='right button-holder'><a href="{{ url_for('home_bp.static', filename='DrymonResume.pdf') }}"><button class="btn">PDF<i class="fa fa-download"></i></button></a>
                        <a href="{{ url_for('home_bp.static', filename='DrymonResume.docx') }}"><button class="btn">Doc <i class="fa fa-download"></i></button></a></div>
                    <div><a href="https://www.linkedin.com/in/chrisdrymon/" target="_blank"><i class="fa fa-linkedin icon-links right" aria-hidden="true"></i></a></div>
                    <div><a href="https://github.com/chrisdrymon" target="_blank"><i class="fa fa-github icon-links right" aria-hidden="true"></i></a></div>
                </div>
            </div>
            <h3 class='subtitle'>Software Engineer</h3>
            <div class='mobile-only-block'><a href="{{ url_for('home_bp.static', filename='DrymonResume.pdf') }}"><button class="btn top-right">PDF <i class="fa fa-download"></i></button></a>
                                           <a href="{{ url_for('home_bp.static', filename='DrymonResume.docx') }}"><button class="btn top-right">Doc <i class="fa fa-download"></i></button></a></div>
            <h2 class="sub-head">General Info</h2>
            <div class='general-info-columns'>
                <h3 class='no-mobile-block'>Location</h3><h3>Kansas City, MO</h3>
                <h3 class='no-mobile-block'>E-Mail</h3><h3>chrisdrymon@yahoo.com</h3>
                <h3 class='no-mobile-block'>Phone</h3><h3>205.394.9808</h3>
                <h3 class='mobile-only-block'><a href="https://www.linkedin.com/in/chrisdrymon/" target="_blank">LinkedIn</a></h3>
                <h3 class='mobile-only-block'><a href="https://github.com/chrisdrymon" target="_blank">GitHub</a></h3>
            </div>
            <h2 class="sub-head">Proficiencies</h2>
            <h3>Python</h3>
                <ul class="pro-sub-list">
                    <li>Data Structures</li>
                    <li>Algorithms</li>
                </ul>
            <h3>Natural Language Processing</h3>
                <ul class="pro-sub-list">
                    <li>Classical Language Toolkit</li>
                    <li>Natural Language Toolkit</li>
                    <li>Gensim</li>
                    <li>Stanza</li>
                    <li>SpaCy</li>
                </ul>
            <h3>Machine Learning</h3>
                <ul class="pro-sub-list">
                    <li>Tensorflow</li>
                    <li>Keras API</li>
                    <li>Estimator API</li>
                </ul>
            <h3>Data Processing</h3>
                <ul class="pro-sub-list">
                    <li>NumPy</li>
                    <li>Pandas</li>
                </ul>
            <h3>Data Visualization</h3>
                <ul class="pro-sub-list">
                    <li>Plotly</li>
                    <li>Dash</li>
                </ul>
            <h3>Web Development</h3>
                <ul>
                    <li>Flask</li>
                    <li>HTML</li>
                    <li class="last-li-item">CSS</li>
                </ul>
        </div>
        <div class="mobile-three">
            <h2 class="sub-head">Soft Skills</h2>
            <ul>
                <li>Leadership Experience</li>
                <li>Problem-Solving</li>
                <li>Public Speaking</li>
            </ul>
            <h2 class="sub-head">Other Interests</h2>
            <ul>
                <li>Greek/Roman History</li>
                <li>Photography</li>
                <li>Cooking</li>
            </ul>
        </div>
    </div>
    <div class="column column-right">
        <div class="mobile-two">
            <h2 class="right-sub-head">Coding Projects</h2>
            <h1>AnGEL Tagger <span class="fake-h4"><a class='project-links' href="https://pypi.org/project/angel-tag/" target="_blank">Pip Package</a>
                <a class='project-links' href="https://github.com/chrisdrymon/angel" target="_blank">GitHub</a>
                </span></h1>
            <ul><li>Tags Ancient Greek parts-of-speech through a series of neural networks</li>
                    <li>State of the art 95.5% accuracy significantly outperforms the previous SotA held by the Alan Turing Institute at Cambridge</li></ul>
            <h1>Ancient Greek & English Semantic Domains Visualizer <span class="fake-h4"><a class='project-links' href="semdoms" target="_blank">Web App</a>
                <a class='project-links' href="https://github.com/chrisdrymon/sem-dom-visualizer" target="_blank">GitHub</a></span></h1>
            <ul><li>Traverses a tree structure to gather node information and return an interactive hierarchy of semantic domains</li>
                <li>Translates English nouns into Ancient Greek equivalents</li></ul>
            <h1>WoW Combat Sim <span class="fake-h4"><a class='project-links' href="wowsim" target="_blank">Web App</a>
                <a class='project-links' href="https://github.com/chrisdrymon/BFADiscSim" target="_blank">GitHub</a></span></h1>
            <ul><li>Merges and assesses timelines to simulate World of Warcraft combat</li><li>Allows users to optimize gearing and stat choices</li></ul>
            <h1>Hearthstone Bidder <span class="fake-h4"><a class='project-links' href="https://github.com/chrisdrymon/KrippTF" target="_blank">GitHub</a></span></h1>
            <ul><li>Assesses a player's arena deck through neural networks and suggests an optimal betting strategy</li>
                <li>Quickly ascended to the top 10% of currency holders</li></ul>

            <h2 class="sub-head right-sub-head">Education</h2>
            <h1>Th.M. Theology<span class='right'>2020</span></h1>
            <h3 class="thesis">Thesis: A Computational Linguistic Method for Word Sense Disambiguation Applied to Three Debated Passages</h3>
            <h3 class="location">Midwestern Baptist Theological Seminary</h3>
            <h1 class="mabl">M.A. Biblical Languages<span class='right'>2015</span></h1>
            <h3 class="location">Midwestern Baptist Theological Seminary</h3>
            <h2 class="sub-head right-sub-head">Work Experience</h2>
            <h1>Freelance Developer<span class='right'>2018-2021</span></h1>
            <h3 class="location">Kansas City, MO</h3>
            <ul>
                <li>Python development primarily aimed at NLP</li>
                <li>Contributor to Ancient Greek treebank databases</li>
                <li>Create open source software for New Testament research</li></ul>
            <h1>Associate Pastor<span class='right'>2018-2019</span></h1>
            <h3 class="location">Graceway Fellowship, Green Bay, WI</h3>
            <ul>
                <li>Directed children's, youth, and family ministries</li>
                <li>Frequently communicated with large crowds</li>
                <li>Formed and trained teams of volunteer helpers</li>
                <li class="last-li-item">Led church to its first year of growth in a decade</li></ul>
        </div>
    </div>
</body>
</html>
